In [2]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv("D:\Data Science\car data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
encoder=LabelEncoder()

In [17]:
new=encoder.fit_transform(df['Fuel_Type'])
new1=encoder.fit_transform(df['Seller_Type'])
new2=encoder.fit_transform(df['Transmission'])

In [24]:
df['Fuel_Type']=new
df['Seller_Type']=new1
df['Transmission']=new2
df.sample(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
76,corolla altis,2013,5.50,14.68,72000,2,0,1,0
57,corolla altis,2010,4.75,18.54,50000,2,0,1,0
236,eon,2016,3.10,4.43,11849,2,0,1,0
18,wagon r,2015,3.25,5.09,35500,0,0,1,0
227,i10,2011,2.55,4.43,57000,2,0,1,0
279,city,2014,6.25,13.60,40126,2,0,1,0
193,Hero Ignitor Disc,2013,0.20,0.65,24000,2,1,1,1
169,Hero Splender iSmart,2015,0.40,0.54,14000,2,1,1,0
294,amaze,2014,3.75,6.80,33019,2,0,1,0
142,Yamaha FZ v 2.0,2015,0.60,0.84,29000,2,1,1,0

In [27]:
from sklearn.preprocessing import MinMaxScaler
Scaler=MinMaxScaler()

In [28]:
X=df[['Year','Selling_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]
y=df[['Present_Price']]

In [29]:
scaledX=Scaler.fit_transform(X)
scaledX

array([[0.73333333, 0.09312321, 0.05305305, ..., 0.        , 1.        ,
        0.        ],
       [0.66666667, 0.13323782, 0.08508509, ..., 0.        , 1.        ,
        0.        ],
       [0.93333333, 0.20487106, 0.01281281, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.4       , 0.09312321, 0.17504304, ..., 0.        , 1.        ,
        0.        ],
       [0.93333333, 0.32664756, 0.01701702, ..., 0.        , 1.        ,
        0.        ],
       [0.86666667, 0.14899713, 0.00993794, ..., 0.        , 1.        ,
        0.        ]])

# With Formulaaa

In [32]:
X1=df['Selling_Price'][1]
min=df['Selling_Price'].min()
max=df['Selling_Price'].max()

In [34]:
new_X1=(X1-min)/(max-min)
new_X1

0.1332378223495702

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
model=LinearRegression()

In [38]:
model.fit(scaledX,y)

LinearRegression()

In [39]:
model.score(scaledX,y)

0.8465576703757008

In [41]:
y_pred=model.predict(scaledX)

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
st=StandardScaler()

In [44]:
stX=st.fit_transform(X)
stX

array([[ 0.128897  , -0.25841591, -0.25622446, ..., -0.73728539,
         0.39148015, -0.17450057],
       [-0.21751369,  0.01748088,  0.1559105 , ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 1.16812909,  0.51015372, -0.77396901, ..., -0.73728539,
         0.39148015, -0.17450057],
       ...,
       [-1.60315648, -0.25841591,  1.31334003, ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 1.16812909,  1.34769755, -0.7198763 , ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 0.8217184 ,  0.12586891, -0.81095812, ..., -0.73728539,
         0.39148015, -0.17450057]])

In [49]:
mean=df['Selling_Price'].mean()
mean

4.661295681063127

In [51]:
std=df['Selling_Price'].std()
std

5.082811556177804

In [53]:
X1=df['Selling_Price'][1]
X1

4.75

In [54]:
stX=(X1-mean)/std
stX

0.017451821291517157