In [7]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv("D:\Data Science\cars2.csv")

In [12]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
X=df[['Volume','Weight']]
X.head()

   Volume  Weight
0     1.0     790
1     1.2    1160
2     1.0     929
3     0.9     865
4     1.5    1140

In [17]:
y=df[['CO2']]
y.head()

   CO2
0   99
1   95
2   95
3   90
4  105

In [33]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
scaler=MinMaxScaler()

In [36]:
scaledX=scaler.fit_transform(X,y)

In [37]:
scaledX

array([[0.0625    , 0.        ],
       [0.1875    , 0.38702929],
       [0.0625    , 0.14539749],
       [0.        , 0.07845188],
       [0.375     , 0.36610879],
       [0.0625    , 0.14539749],
       [0.3125    , 0.33368201],
       [0.375     , 0.60146444],
       [0.375     , 0.33682008],
       [0.4375    , 0.37656904],
       [0.125     , 0.19874477],
       [0.25      , 0.20920502],
       [0.0625    , 0.33682008],
       [0.4375    , 0.4832636 ],
       [0.4375    , 0.56066946],
       [0.4375    , 0.56485356],
       [0.4375    , 0.60146444],
       [0.8125    , 0.5125523 ],
       [0.4375    , 0.34414226],
       [0.6875    , 0.56276151],
       [0.4375    , 0.83054393],
       [0.6875    , 0.66736402],
       [0.75      , 0.60146444],
       [0.4375    , 0.65376569],
       [0.6875    , 0.65376569],
       [0.375     , 0.70606695],
       [0.6875    , 0.73221757],
       [0.6875    , 0.97803347],
       [0.4375    , 0.7667364 ],
       [0.6875    , 0.95711297],
       [0.75      , 0.85251046],
       [0.6875    , 1.        ],
       [0.4375    , 0.46548117],
       [0.4375    , 0.62761506],
       [0.4375    , 0.64330544],
       [1.        , 0.63284519]])

with formula

In [40]:
X1=df['Weight'][1]
X1

1160

In [47]:
min=df['Weight'].min()
min

790

In [48]:
max=df['Weight'].max()
max

1746

In [50]:
new_X1=(X1-min)/(max-min)
new_X1

0.38702928870292885

In [51]:
X2=df['Weight'][6]
X2

1109

In [52]:
min=df['Weight'].min()
min

790

In [53]:
max=df['Weight'].max()
max

1746

In [56]:
new_X2=(X2-min)/(max-min)
new_X2

0.33368200836820083

In [66]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [58]:
model=LinearRegression()

In [59]:
model.fit(scaledX,y)

LinearRegression()

In [60]:
model.score(scaledX,y)

0.3765564043619988

In [61]:
model.coef_

array([[12.48841204,  7.21870559]])

In [62]:
model.intercept_

array([92.68469941])

In [64]:
y_predict=model.predict(scaledX)

In [70]:
from sklearn.preprocessing import StandardScaler

In [71]:
st=StandardScaler()

In [73]:
stX=st.fit_transform(X)
stX

array([[-1.59336644, -2.10389253],
       [-1.07190106, -0.55407235],
       [-1.59336644, -1.52166278],
       [-1.85409913, -1.78973979],
       [-0.28970299, -0.63784641],
       [-1.59336644, -1.52166278],
       [-0.55043568, -0.76769621],
       [-0.28970299,  0.3046118 ],
       [-0.28970299, -0.7551301 ],
       [-0.0289703 , -0.59595938],
       [-1.33263375, -1.30803892],
       [-0.81116837, -1.26615189],
       [-1.59336644, -0.7551301 ],
       [-0.0289703 , -0.16871166],
       [-0.0289703 ,  0.14125238],
       [-0.0289703 ,  0.15800719],
       [-0.0289703 ,  0.3046118 ],
       [ 1.53542584, -0.05142797],
       [-0.0289703 , -0.72580918],
       [ 1.01396046,  0.14962979],
       [-0.0289703 ,  1.2219378 ],
       [ 1.01396046,  0.5685001 ],
       [ 1.27469315,  0.3046118 ],
       [-0.0289703 ,  0.51404696],
       [ 1.01396046,  0.51404696],
       [-0.28970299,  0.72348212],
       [ 1.01396046,  0.8281997 ],
       [ 1.01396046,  1.81254495],
       [-0.0289703 ,  0.96642691],
       [ 1.01396046,  1.72877089],
       [ 1.27469315,  1.30990057],
       [ 1.01396046,  1.90050772],
       [-0.0289703 , -0.23991961],
       [-0.0289703 ,  0.40932938],
       [-0.0289703 ,  0.47215993],
       [ 2.31762392,  0.4302729 ]])

In [74]:
mean=df['Volume'].mean()

In [75]:
std=df['Volume'].std()

In [78]:
X1=df['Volume'][2]
X1

1.0

In [80]:
stX=(X1-mean)/std
stX

-1.571080498855336

# Encoding Methods

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("D:\Data Science\House_prediction1.csv")
df.head()

     town  area    price
0  Mumbai  2000  5500000
1  Mumbai  2100  5530000
2  Mumbai  2200  5560000
3  Mumbai  2300  5590000
4  Mumbai  2400  5620000

In [5]:
dummies=pd.get_dummies(df['town'])
dummies.sample(5)

    Delhi  Mumbai  Pune
1       0       1     0
36      1       0     0
4       0       1     0
11      1       0     0
38      1       0     0

In [6]:
final=df.Concat([df,dummies],axis=1)

AttributeError: 'DataFrame' object has no attribute 'Concat'

In [7]:
df1=pd.get_dummies(data=df,columns=['town'],drop_first=True)
df.head()

     town  area    price
0  Mumbai  2000  5500000
1  Mumbai  2100  5530000
2  Mumbai  2200  5560000
3  Mumbai  2300  5590000
4  Mumbai  2400  5620000

# Label Encoding

In [96]:
from sklearn.preprocessing import LabelEncoder

In [97]:
encoder=LabelEncoder()

In [98]:
new=encoder.fit_transform(df['town'])

In [99]:
new

array([1, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0])

In [101]:
df['town']=new
df.sample(6)

    town  area    price
9      0  2900  5770000
2      1  2200  5560000
29     1  4900  6370000
4      1  2400  5620000
7      2  2700  5710000
33     2  5300  6490000

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   town    39 non-null     int32
 1   area    39 non-null     int64
 2   price   39 non-null     int64
dtypes: int32(1), int64(2)
memory usage: 908.0 bytes

In [103]:
df.describe()

            town         area         price
count  39.000000    39.000000  3.900000e+01
mean    1.000000  3900.000000  6.070000e+06
std     0.794719  1140.175425  3.420526e+05
min     0.000000  2000.000000  5.500000e+06
25%     0.000000  2950.000000  5.785000e+06
50%     1.000000  3900.000000  6.070000e+06
75%     2.000000  4850.000000  6.355000e+06
max     2.000000  5800.000000  6.640000e+06

In [107]:
df.shape

(39, 3)

In [109]:
x=df.drop("price",axis=1)
x.head(3)

   town  area
0     1  2000
1     1  2100
2     1  2200

In [110]:
y=df.price
y.head(3)

0    5500000
1    5530000
2    5560000
Name: price, dtype: int64